body > header{
    width: 100%;
    height: 5rem;
    margin-bottom: 2rem;
    box-shadow: 0 1px rgba(0, 0, 0, 0.248);
    background-color: var(--color-grey-2);
}

header > div > div{
    display: flex;
    gap: 0.85rem;
}
.container {
    width: 90rem;
    max-width: 100%;
    height: 5rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.background-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top:0;
}

main > div{
    background-color: rgba(255, 255, 255, 0.95);
    width: 31.625rem;
    height: 32.5rem;
    margin: 0 auto;
    margin-top: 12vh

}

div > h1 {
    padding: 2rem;
}
div > form{
    display: flex;
    flex-direction: column;
    gap: 0.813rem;
    padding: 0 2.625rem;
    
}