@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --color-grey-1:  #4200FF;
    --color-grey-2:  #FFFFFF;
    --color-grey-3:  #000000;
    --color-grey-4:  #CE4646;
    --color-grey-5:  #4BA036;
}

body{
  font-family: 'Inter', sans-serif;
}
ul{
  list-style: none;
}

button{
  cursor: pointer;
}

::-webkit-scrollbar{
  background: none;
  width: 0.8rem;
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-grey-1);
}
